{{dino-header}}
<main>
    {{#dino-profiles}}
      {{#each model as |profile|}}
        {{dino-profile image=profile.image name=profile.name skill=profile.skills}}
      {{/each}}
    {{/dino-profiles}}
</main>
{{dino-footer}}
